.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Full viewport height
  background-color: whitesmoke;

  .signUpCard {
    width: 300px; // Adjust as necessary
    padding: 20px;

    .title {
      text-align: center;
    }

    .input {
      width: 100%;
    }

    mat-card-actions {
      display: flex;
      justify-content: center;

      .signUp {
        width: 100%;
        color: whitesmoke;
        background-color: #34495e;
        &:hover {
          background-color: #2c3e50;
        }
      }
    }

    .loginRedirect {
      text-align: center;
      margin-top: 10px;
      font-size: 14px;

      .loginLink {
        color: #34495e;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer; /* Cambia el cursor a pointer al pasar el mouse */
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Responsive adjustments
@media (max-width: 400px) {
  .signUpCard {
    width: 90%; // For smaller screens
  }
}
