<div mat-dialog-content>
  <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
  
  <form class="m-2" *ngIf="!isLoading" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <h1 class="dialog-title">Change Password</h1>
    
    <mat-form-field appearance="fill" class="full-width mr-1">
      <mat-label>Old Password</mat-label>
      <input matInput type="password" formControlName="oldPassword" required />
      <mat-error>required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width ml-1">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="newPassword" required />
      <mat-error>required</mat-error>
    </mat-form-field>

    <div class="action-buttons">
      <button class="" mat-flat-button (click)="onNoClick()">
        Cancel
      </button>
      <button class="" mat-flat-button type="submit">
        Save
      </button>
    </div>
  </form>
</div>
