<div mat-dialog-content>
  <ng-container *ngIf="isLoading">
    <shared-loading-spinner ></shared-loading-spinner>
  </ng-container>

  <form class="m-2" *ngIf="!isLoading" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <h1 class="dialog-title">Change Password</h1>

    <mat-form-field appearance="fill" class="container">
      <mat-label>Old Password</mat-label>
      <input matInput type="password" formControlName="oldPassword" required />
      <mat-error>required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="container">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="newPassword" required />
      <mat-error>required</mat-error>
    </mat-form-field>

    <div class="action-buttons">
      <button class="btn" mat-flat-button (click)="onNoClick()">
        Cancel
      </button>
      <button class="btn" mat-flat-button type="submit">
        Save
      </button>
    </div>
  </form>
</div>
