.dialog-title {
  font-size: 24px;
  font-weight: 600;
  color: #34495e; // Color del título
  margin-bottom: 16px; // Espacio debajo del título
}

.dialog-content {
  font-size: 16px;
  color: #7f8c8d; // Color del texto del contenido
  margin-bottom: 20px; // Espacio debajo del contenido
}


.action-buttons {
  display: flex;
  justify-content: space-between; /* Espacio entre los botones */
  gap: 10px; /* Separación entre los botones */
}

.btn {
  flex: 1; /* Opción para que los botones tengan el mismo tamaño */
  background-color: #34495e;
  color: white;
}
