// Variables de color
$primary-bg-color: #2c3e50;
$secondary-bg-color: #34495e;
$highlight-color: #1abc9c;
$text-color: whitesmoke;
$hover-bg-color: #ecf0f1;
$container-bg-color: #ecf0f1;
$default-bg-color: whitesmoke;
$icon-color: #2c3e50;

mat-sidenav-container {
  height: 100vh;
  background-color: $default-bg-color;

  mat-sidenav {
    width: 250px;
    background-color: $primary-bg-color;
    color: $text-color;

    mat-nav-list {
      mat-list-item {
        mat-icon {
          color: $text-color;
        }

        mat-label {
          color: $text-color;
        }

        cursor: pointer;
        padding: 15px;

        &:hover {
          background-color: $secondary-bg-color;
        }

        &.active {
          background-color: $highlight-color;
          color: $text-color;
        }

        mat-icon {
          margin-right: 10px;
        }

        span {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }

  mat-toolbar {
    background-color: $secondary-bg-color;
    color: $text-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 64px;

    mat-icon {
      color: $text-color;
    }

    .spacer {
      flex: 1;
    }

    .profile {
      .btn-profile {
        background-color: $highlight-color;
        color: $text-color;
        margin-right: 15px;
      }

      mat-menu {
        button {
          display: block;
          width: 100%;
          padding: 10px 20px;
          text-align: left;
          font-size: 14px;
          background-color: transparent;
          color: inherit;

          mat-icon {
            margin-right: 10px;
            color: $icon-color;
          }

          &:hover {
            background-color: $hover-bg-color;
          }
        }
      }
    }

    .container {
      padding: 20px;
      background-color: $container-bg-color;
      min-height: calc(100vh - 64px);

      router-outlet {
        display: block;
        padding: 20px;
        background-color: $default-bg-color;
        border-radius: 8px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
